@media (max-width: 680px) {
  table[table-responsive] td:before,
  table.responsive td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
  }
  table[table-responsive] th,
  table.responsive th {
    display: none;
  }
  table[table-responsive] td,
  table.responsive td {
    display: block;
    text-align: left !important;
  }
  table[table-responsive] tr:nth-child(even),
  table.responsive tr:nth-child(even) {
    background: #ebebeb;
  }
  table[table-responsive] tr:nth-child(odd),
  table.responsive tr:nth-child(odd) {
    background: #fff;
  }
}

@media (min-width: 680px) {
  table[table-responsive] td:before,
  table.responsive td:before {
    display: none;
  }
  table[table-responsive] th,
  table[table-responsive] td,
  table.responsive th,
  table.responsive td {
    display: table-cell;
  }
}
